<header id="menu">
  <div class="branding container_12">
    <a href="/"><h1>Nupose</h1></a>
  </div>
  <div id="url" class="container_12">
    <h1>You'll be linking people to</h1>
    <label>http://nupose.com/</label>
    <input type="text" id="url_field" placeholder="<%= @poster.url %>">
    <button id="url_check" class="available">
      check
    </button>
  </div>
  <div id="connect">
    <% if connected? %>
      <a id="sc-connect" class="connected" href="/oauth/destroy">
        Disconnect
      </a>
    <% else %>
      <script>
      SC.Connect.options = {
        'request_token_endpoint': '/oauth/new',
        'access_token_endpoint': '/oauth/create',
        'callback': function(params) {
          sc_connected.apply(this, $A(arguments));
        }
      };
      </script>
      <a id="sc-connect"
         href="#" 
         onclick="SC.Connect.initiate();">
         Connect
      </a>
    <% end %>
  </div>
  <menu id="toolbar" class="container_12">
    <li id="text_tool" class="tool" data-widget="TextWidget">Text</li>
    <li id="image_tool" class="tool" data-widget="ImageWidget">Image</li>
    <li id="link_tool" class="tool" data-widget="LinkWidget">Link</li>
    <li id="music_tool" class="tool" data-widget="MusicWidget">Music</li>
    <li id="location_tool" class="tool" data-widget="LocationWidget">Location</li>
    <li id="share_tool" class="tool" data-widget="ShareWidget">Sharing</li>
  </menu>
</header>

<div id="left_bar" class="left bar">
  <h1>Background</h1>
  <label>Gradient</label>
  <input id="top_colour" type="color" class="color" value="<%# @poster.background_colour_top || "000000" %>"/>
  <input id="bottom_colour" type="color" class="color" value="<%# @poster.background_colour_bottom || "000000" %>"/>
  
  <h1>-or-</h1>
  <label>Image</label>
  <input type="text" placeholder="url" id="background_image">
</div>
<div id="canvas" class="container_12">
  <!-- touch me with your beautiful posters -->
</div>
<div id="right_bar" class="right bar">
  <button id="save">
    Save
  </button>
  <button id="preview">
    Preview
  </button>
  <button id="share_button" style="display: none">
    Share
  </button>
</div>

<%= javascript_include_tag 'create', 'jscolor' %>
<script>
load_poster(<%= @poster.to_json.html_safe %>);
</script>

