<% track = track_summary %>
<li class="track_summary" data-track-id="<%= track.id %>">
<%= track.title %></a> by <a href="<%= track.user.permalink_url %>"><%= track.user.username %></a></span> 
</li>

