<p>Nupose is a new way of making posters. Promote your band, gig or event with an interactive poster. Nupose makes it easy for people to share your event, listen ahead of time and find out where you're on</p>

<button id="tour">
  Tour
</button>
<p>our website, check out the mad features</p>

<button id="edit">
  Edit
</button>
<p>an old poster to keep the details up to date</p>

<h2>Gallery</h2>
<div>
  WOOO GALLERY
</div>