<section id="what">
<h1>What is Nupose?</h1>
<p>Nupose is a new way of making posters. Promote your band, gig or event with an interactive poster. Nupose makes it easy for people to share your event, listen ahead of time and find out where you're on</p>
</section>

<ul id="features" class="container_12">
  <li class="grid_4 prefix_2 alpha">
    <img src="/images/home/tracks.png">
    <h1>Your Tracks</h1>
    <p>Let people listen to what you'll play so they know they'll love it.</p>
  </li>
  <li class="grid_4 suffix_1 omega">
    <img src="/images/home/adjustable.png">
    <h1>It's Adjustable</h1>
    <p>You can edit your poster right here, in the browser, and from anywhere you want</p>
  </li>
  <li class="grid_4 prefix_2 alpha">
      <img src="/images/home/url.png">
      <h1>Choose your own URL</h1>
      <p>Make the url fit with your promotion</p>
  </li>
  <li class="grid_4 suffix_2 omega">
    <img src="/images/home/soundcloud.png">
    <h1>Connect to SoundCloud</h1>
    <p>And import any songs you've uploaded previously</p>
  </li>
</ul>