<%# Share Widget
Two Styles:
1. Big
2. Small
%>
<a name="fb_share"></a>
<div style="margin: 10px"></div>
<a href="http://twitter.com/share" data-count="none" class="twitter-share-button">Tweet</a>

<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share"></script>
<script src="http://platform.twitter.com/widgets.js"></script>